:root ::-webkit-scrollbar {
    width: 14px; /* Width of the scrollbar */
    border-radius: 12px;
  }
  
  :root ::-webkit-scrollbar-thumb {
    background-color: #2e3130ec; /* Color of the scrollbar thumb */
    border-radius: 12px; /* Roundness of the scrollbar thumb */
    border: 2px solid #037b8800; /* Padding around the scrollbar thumb */
  }
  
  :root ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; /* Color of the scrollbar thumb when hovered */
  }
  
  :root ::-webkit-scrollbar-track {
    background: #1c1c1c03; /* Color of the scrollbar track */
    border-radius: 12px;
  }
  